# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock
config.json
config.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
dist
.next
.vscode
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
